body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, rgba(255,248,255,0) 82.08%, rgba(227,255,248,0.38) 100%);
    min-height: 100vh;

}

.page {
    width: 1000px;
    margin: 65px auto 0;
    
    

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:55px;

    animation-name: topdown;
    animation-duration: 700ms;
    
}

 ul  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    
    
    gap:48px;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}



li  {
    list-style: none;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: #1F1534;
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
    font-weight: 700;
    opacity: 1;

}

h1, ul {
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    font-weight: normal;
    width: 489px;
}

h1 span {
   color: #89C5CC;
   font-weight: bold;
}

section p {
    margin: 40px 0;
    color: #7D7987;
}

main {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

   /* display: grid;
   align-items: center;
   flex-direction: column;
   grid-template-columns: 1fr 1fr;
   gap: 102px; */

    animation: bottomtop 700ms 350ms reverse backwards;
    


} 

section p {
   font-size:14px;
   line-height: 28px;
}

button {
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    color: #ffff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 14px 32px 15px;

    border: none;
    border-radius: 4px;
    background-color: #69B99D;
    cursor: pointer;
}

button:hover {
  background-color: #56ad8f; 
} 

footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top:80px;
}

footer a {

    font-weight: bold;
    padding-bottom: 30px;

}

#balls {
    position:fixed;
    bottom: 0;
    right: 0;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottomtop {

    100% {
            opacity: 0;
            transform: translateX(20px);
        }
    
    0% {
            opacity: 1;
            transform: translateX(0);
        }

}